@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen+Mono&display=swap');
@import "tailwindcss";

@theme {
  --font-oxygen-mono: 'Oxygen Mono', monospace;
  --font-open-sans: 'Open Sans', sans-serif;

  --color-lime-400: #79F67A;
  --color-teal-50: #F7F8F9;
  --color-teal-800: #2A464F;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-open-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  scroll-margin-top: 80px;
}

#about div strong {
  font-size: 1.25rem;
  color: var(--color-teal-800);
  line-height: 3rem;
}

#about ul {
  list-style: outside;
  list-style-type: square;
  margin-left: 1.2rem;
}

#about ul li::marker {
  color: var(--color-lime-400);
  content: "\25FC" "  ";
}
